body {
    font-family: sans-serif;
}

.image-1{
    width: 100px;
    height: 100px;
}

.social {
    display: block;
    width: 30px;
}


header{
    background-color: black; 
    height: 200px;
}

nav{
    margin-top: 40px;
    margin-left: 180px;
}

.text-1{
    font-size: 30px;
}

.text-2{
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    border-bottom: 2px solid navy;
    margin: 30px auto;
    letter-spacing: 15px;
    text-shadow: -4px 2px navy,-8px 4px slateblue,-12px 6px turquoise;
}

.image-3{
    width: 400px;
    height: 200px;
}

.image-4{
    width: 400px;
    height: 200px;
}

.image-5{
    width: 400px;
    height: 200px;
}

.image-6{
    width: 400px;
    height: 200px;
}
  
  
  .silka{
    text-decoration: none;
    font-size: 25px;
    color: crimson;
    background-image: linear-gradient(to right bottom,lightblue,lightyellow,lightblue);
    padding: 20px;
    border-radius: 10px;
}

.silka:hover {
    border: 3px solid royalblue;
    box-shadow: 2px 2px 5px 0 slateblue;
    border-radius: 20px;
}

.silka:visited {
    color: watermelon;
}

.silka:focus {
    color: grey;
}

.silka2 {
    text-decoration: none;
    font-size: 25px;
    color: crimson;
    background-image: linear-gradient(to right bottom,white,blue,red);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
}

div:hover {
    box-shadow: 0px 5px 5px 5px navy;
}

.text4:hover{
    box-shadow: inset 0px -10px 15px 0 orange;
}

.sect {
    position: fixed;
    background-color: purple;
    width: 100px;
    top: 200px;
    right: 0px;
}

.img {
    content: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg");
    width: 60px;
    height: 30x;
    border-radius: 15px;
}

.img2 {
    content: url("https://pngicon.ru/file/uploads/telegram.png");
    width: 60px;
    height: 30x;
    border-radius: 15px;
}

.img3 {
    content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/1200px-VK_Compact_Logo_%282021-present%29.svg.png");
    width: 60px;
    height: 30x;
    border-radius: 15px;
}

.img4 {
    content: url("https://play-lh.googleusercontent.com/bYtqbOcTYOlgc6gqZ2rwb8lptHuwlNE75zYJu6Bn076-hTmvd96HH-6v7S0YUAAJXoJN=w240-h480-rw");
    width: 60px;
    height: 30x;
    border-radius: 15px;
}
